
.commentlist {
    .media-body {
        p {
            font-size: 14px;
        }

        mat-icon {
            font-size: 18px;
            color: #03a9f4;
        }
    }
}


.mat-form-field {
    display: block;
}