

form {
    
    .mat-form-field {
        display: block;
    }

    .mat-icon {
        color: #03a9f4;
    }

    .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{
        color: rgb(245, 240, 240);
    }

}